<?xml version="1.0" encoding="utf-8" ?>
<states>
    <state name="Alberta" abbreviation="AB" />
    <state name="British Columbia" abbreviation="BC" />
    <state name="Manitoba" abbreviation="MB" />
    <state name="New Brunswick" abbreviation="NB" />
    <state name="Newfoundland And Labrador" abbreviation="NL" />
    <state name="Nova Scotia" abbreviation="NS" />
    <state name="Northwest Territories" abbreviation="NT" />
    <state name="Nunavut" abbreviation="NU" />
    <state name="Ontario" abbreviation="ON" />
    <state name="Prince Edward Island" abbreviation="PE" />
    <state name="Quebec" abbreviation="QC" />
    <state name="Saskatchewan" abbreviation="SK" />
    <state name="Yukon" abbreviation="YT" />
</states>