<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
  </configSections>
  <appSettings>
 
    <!--<add key="SSOConnectionString" value="Data Source=192.168.161.149,1105;Initial Catalog=B2P_SingleSignOn;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE" />-->
    <add key="ConnectionString" value="Data Source=192.168.161.108,1105;Initial Catalog=B2P_Configuration4;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="SSOConnectionString" value="Data Source=192.168.161.108,1105;Initial Catalog=B2P_SingleSignOn;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="IPConnectionString" value="Data Source=192.168.161.108,1105,1105;Initial Catalog=B2P_Profile;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="ClientDataConnectionString" value="Data Source=192.168.161.108,1105,1105;Initial Catalog=B2P_ClientData;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>

     <add key="SystemOfflineMessage" value="This system will be offline until {0:MM/dd/yyyy hh:mm tt}" />
    <add key="ErrorLogFile" value="c:\Logs\b2pExpressPayments.log" />
    <add key="ErrorReporting" value="All" />

    <!-- Email settings -->
    <!-- DEV:  192.168.161.77 -->
    <!-- BETA/PROD: 192.168.161.227 -->
    <add key="SMTPServer" value="192.168.161.77" />

    <add key="EncryptionCode" value="Gt7d|%RFx@" />
    <add key="DecryptionCode" value="jKkd|%:Ie)" />
    <add key="ZipcodeValidator" value="^((\d{5}-\d{4})|(\d{5})|([A-Z]\d[A-Z]\s?\d[A-Z]\d))$" />
    <add key="EmailValidator" value="" />
    <add key="PhoneNumberValidator" value="" />
    <add key="SupportEmailRecipient" value="clarissa.coldiron@bill2pay.com" />
    <add key="SupportEmailSender" value="clarissa.coldiron@bill2pay.com" />
    <add key="SystemName" value="B2P Express Payment" />
    <add key="AllowConfirmationEmails" value="True" />
    <add key="ProductItemDescription" value="Tax Bill" />
    <add key="UseCentralLogging" value="True" />
    <!-- Set site SSL here (if not using IIS UrlRewrite functionality) -->
    <!--<add key="RequireSSL" value="True"/>-->

    <!-- Set config files -->
    <add key="UnitedStates" value="docs\USStates.config"/>
    <add key="CanadianProvinces" value="docs\CanadianProvinces.config"/>

    <!-- For cross-domain messaging -->
    <add key="DomainWhitelist" value="*" />

    <add key="DebugLogging" value="True" />
    <add key="TestMode" value="True" />
  </appSettings>

  

  <system.web>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" />-->
    <sessionState timeout="15" mode="InProc" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />

    <customErrors mode="RemoteOnly" defaultRedirect="/Error.aspx">
      <error statusCode="400" redirect="/Errors/HttpError.aspx?errCode=400" />
      <error statusCode="401" redirect="/Errors/HttpError.aspx?errCode=401" />
      <error statusCode="402" redirect="/Errors/HttpError.aspx?errCode=402" />
      <error statusCode="403" redirect="/Errors/HttpError.aspx?errCode=403" />
      <error statusCode="404" redirect="/Errors/HttpError.aspx?errCode=404" />
      <error statusCode="408" redirect="/Errors/HttpError.aspx?errCode=408" />
      <error statusCode="414" redirect="/Errors/HttpError.aspx?errCode=414" />
      <error statusCode="500" redirect="/Errors/HttpError.aspx?errCode=500" />
      <error statusCode="503" redirect="/Errors/HttpError.aspx?errCode=503" />
    </customErrors>

    <pages clientIDMode="Static" />
    <globalization culture="auto" uiCulture="auto" />

    <authorization>
      <deny verbs="OPTIONS" users="*"/>
    </authorization>

    <httpModules>
      
    </httpModules>
    
  </system.web>


  <system.webServer>
    <!-- Comment out when working locally -->
    <rewrite>
      <!--<rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>-->
      <outboundRules>
        <rule name="Suppress Server Variable">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
    </rewrite>

    <modules runAllManagedModulesForAllRequests="true">
      
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
    </handlers>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Server" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>

   
  </system.webServer>

  

</configuration>