<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="emvPinPads" type="Bill2PayAdmin45.ClientSection, Bill2PayAdmin45" />
  </configSections>

  <!--
      EMV PIN pad client configuration info:
          Client item attributes:
              code:         Must be the same as the ClientCode in the database.
              useSingleFee: Whether the client uses a single fee for different types of transactions (i.e., Credit, PIN Debit, etc.).
    -->
  <emvPinPads>
    <clients>
      <!--<client code="SomeClientCode" useBinLookup="true|false" useSingleFee="true|false" />-->
      <client code="STJOHNS" useBinLookup="false" useSingleFee="true" />
      <client code="DUVAL" useBinLookup="true" useSingleFee="false" />
      <client code="AUMENTUM" useBinLookup="true" useSingleFee="false" />
      <client code="TR01" useBinLookup="true" useSingleFee="false" />
      <client code="KIDCARE" useBinLookup="true" useSingleFee="false" />
      <client code="CPCLERK" useBinLookup="true" useSingleFee="false" />
      <client code="MELUTIL" useBinLookup="true" useSingleFee="false" />
      <client code="TOHO" useBinLookup="true" useSingleFee="false" />
      <client code="COLLIERUTL" useBinLookup="true" useSingleFee="false" />
      <client code="COLUMBIATC" useBinLookup="true" useSingleFee="false" />
      <client code="PINELLASCU" useBinLookup="true" useSingleFee="false" />
      <client code="ATLANTIC" useBinLookup="true" useSingleFee="false" />
    </clients>
  </emvPinPads>
  
  
  
  
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <!-- Connection Strings - DEV -->
    <!--
    <add key="ConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_Configuration4;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE" />
    <add key="ClientDataConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_ClientData;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="SSOConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_SingleSignOn;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE" />
    <add key="IPSConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_PMS;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="IPConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_Profile;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="TokenConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2PTokenServer;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE" />
-->
    <!-- Connection Strings - BETA New     -->

    <add key="ConnectionString" value="Data Source=192.168.161.163,3478;Initial Catalog=B2P_Configuration;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=Dr6WratHuCRE9hEM-zaq47uzU" />
    <add key="ClientDataConnectionString" value="Data Source=192.168.161.163,3478;Initial Catalog=B2P_ClientDataBeta;User ID=ap_B2PConfiguration;Password=Dr6WratHuCRE9hEM-zaq47uzU" />
    <add key="SSOConnectionString" value="Data Source=192.168.161.163,3478;Initial Catalog=B2P_SingleSignOnBeta;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=Dr6WratHuCRE9hEM-zaq47uzU" />
    <add key="IPSConnectionString" value="Data Source=192.168.161.163,3478;Initial Catalog=B2P_PMS;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=Dr6WratHuCRE9hEM-zaq47uzU" />
    <add key="IPConnectionString" value="Data Source=192.168.161.163,3478;Initial Catalog=B2P_ProfilesBeta;User ID=ap_B2PConfiguration;Password=Dr6WratHuCRE9hEM-zaq47uzU" />
    <add key="TokenConnectionString" value="Data Source=192.168.161.163,3478;Initial Catalog=B2P_TokenServerBeta;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=Dr6WratHuCRE9hEM-zaq47uzU" />
    <add key="StatementConnectionString" value="Data Source=SQLBETA-B2P.Intuition.com,3478;Initial Catalog=B2P_StatementsBeta;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=Dr6WratHuCRE9hEM-zaq47uzU" />
    <add key="StatementServiceURL" value="https://jaxsvcsbeta/B2PServices/StatementHosting/StatementSvc/Statement.asmx" />

    <!-- PRODCOPY -->
<!--
    <add key="ConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_ConfigurationProdCopy;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="ClientDataConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_ClientData;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="SSOConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_SingleSignOn;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="IPConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_ProfilesProdCopy;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="IPSConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_ProfilesProdCopy;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>    
    <add key="StatementConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1105;Initial Catalog=B2P_StatementsProdCopy;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=ughe76ad29PE"/>
    <add key="StatementServiceURL" value="http://Jaxdev02/WebServices/Bill2Pay/Statements/StatementSvc/Statement.asmx"/>
    <add key="TokenConnectionString" value="Data Source=192.168.161.163,3478;Initial Catalog=B2P_TokenServerBeta;Persist Security Info=True;User ID=ap_B2PConfiguration;Password=Dr6WratHuCRE9hEM-zaq47uzU" />
-->


    <!--<add key="ErrorLogFile" value="c:\logs\b2padmin.log"/>-->
    <add key="ErrorLogFile" value="c:\logs\b2padmin.log"/>
    <!--<add key="ErrorLogFile" value="d:\logs\b2padmin.log"/>-->
    <add key="ErrorReporting" value="All"/>
    <add key="SMTPServer" value="192.168.161.77"/>
    <add key="EncryptionCode" value="Gt7d|%RFx@"/>
    <add key="DecryptionCode" value="jKkd|%:Ie)"/>
    <add key="ZipcodeValidator" value=""/>
    <add key="PasswordValidator" value="(?=^.{8,20}$)((?=.*\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*" />
    <add key="EmailValidator" value="^(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9_]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6}$"/>
    <add key="PhoneNumberValidator" value=""/>
    <add key="SupportEmailRecipient" value="clarissa.coldiron@bill2pay.com"/>
    <add key="SupportEmailSender" value="clarissa.coldiron@bill2pay.com"/>
    <add key="SystemName" value="B2PADMIN TMP Local"/>
    <add key="PaySiteURL" value="http://192.168.161.168/client/"/>
    <add key="UseCentralLogging" value="True"/>
    <!--This enables pre 4.5 validation mode-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ProductItemDescription" value="Tax Bill" />
    <add key="ReversePaymentTypeMismatch" value="True" />
    
    <!--Report Settings Dev-->
    <!--<add key="ReportUser" value="ReportUser"/>
    <add key="ReportPassword" value="EmkJMqk4tNRUqnT"/>
    <add key="ReportDomain" value=""/>
    <add key="ReportConnectionString" value="Data Source=SQLDEV-B2P.Intuition.com,1433;Initial Catalog=B2P_Repository;Integrated Security=True"/>
    <add key="ReportServiceURL" value="http://JAXSQLDEV02/ReportServer"/>-->
    
    <!--Report Settings Beta-->
    <add key="ReportUser" value="ReportUserBeta"/>
    <add key="ReportPassword" value="b9nRw8b7#"/>
    <add key="ReportDomain" value=""/>
    <add key="ReportConnectionString" value="Data Source=192.168.161.163,3478;Initial Catalog=B2P_RepositoryBeta;Integrated Security=True"/>
    <add key="ReportServiceURL" value="https://JAXSQLBeta02.Intuition.com/ReportServer"/>
    
    <!--Report Settings Prod-->
    <!--<add key="ReportUser" value="ReportUserProd"/>
    <add key="ReportPassword" value="4Jk4TYfE"/>
    <add key="ReportDomain" value=""/>
    <add key="ReportConnectionString" value="Data Source=192.168.67.21,1104;Initial Catalog=B2P_RepositoryProd;Integrated Security=True"/>
    <add key="ReportServiceURL" value="https://JAXB2PReports.Intuition.com/ReportServer"/>-->

    <!-- Client logo image files -->
    <add key="ClientLogoPath" value="Img\Logos\"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" 
                 requestValidationMode="2.0" 
                 encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <httpCookies httpOnlyCookies="true"/>
    <authentication mode="Forms">
      <forms name="B2P" loginUrl="/welcome" timeout="20"/>
    </authentication>
    <sessionState timeout="20" mode="InProc"/>
    <pages viewStateEncryptionMode="Always" clientIDMode="Static">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <!--<add tagPrefix="tsc" namespace="TSC.Timeout" assembly="TSC.Timeout"/>-->   <!--old timeout control-->
        <!--<add tagPrefix="ctl" namespace="AjaxControls" assembly="AjaxControls"/>--> <!--new timeout control .NET 4.0-->
        <add src="~/includes/menu.ascx" tagName="menu" tagPrefix="custom"/>
        <add src="~/includes/footer.ascx" tagName="footer" tagPrefix="custom"/>
        <add src="~/includes/logout.ascx" tagName="logout" tagPrefix="custom"/>
        <add src="~/includes/timeout.ascx" tagName="timeout" tagPrefix="custom"/>     <!--old timeout control-->
        <!--<add src="~/includes/timeout40.ascx" tagName="timeout40" tagPrefix="custom"/>--> <!--new timeout control .NET 4.0-->
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add tagPrefix="des" namespace="PeterBlum.DES" assembly="PeterBlum.DES"/>
        <add tagPrefix="des" namespace="PeterBlum.DES.Web" assembly="PeterBlum.DES"/>
        <add tagPrefix="des" namespace="PeterBlum.DES.Web.WebControls" assembly="PeterBlum.DES"/>
        <add tagPrefix="despval" namespace="PeterBlum.DES.NativeToDES" assembly="PeterBlum.DES.NativeToDES"/>
        <add tagPrefix="desmsval" namespace="PeterBlum.DES.NativeValidators" assembly="PeterBlum.DES.NativeValidators"/>
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="/error/">
      <error statusCode="400" redirect="~/error/BadRequest"/>
      <error statusCode="404" redirect="~/error/pagenotfound.aspx"/>
    </customErrors>

   
  </system.web>
  
  <system.webServer>
    <handlers>
      <remove name="UrlRoutingHandler"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <!--<remove name="ScriptResource"/>-->
      <add name="DESGetFiles" path="DESGetFiles.axd" verb="GET" type="PeterBlum.DES.Web.GetFilesHandler, PeterBlum.DES, Version=5.0.5.5000, Culture=neutral, PublicKeyToken=cb5182303c90db58"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <!--<add name="ScriptResource" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <!--<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
    </handlers>
    <modules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <!--<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
    </modules>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PeterBlum.DES" publicKeyToken="cb5182303c90db58" culture=""/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.4999" newVersion="5.0.5.5000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  
  <location path="DES">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DESGetFiles.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="PinPad.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
</configuration>