/*------------------------------------------------------------------
Supports the Textboxes from the Peter's Date and Time module.
The Popups -- Calendar, MonthYearPicker, TimePicker, and ContextMenu --
are supported in other style sheet files.

NOTE: By default, DES compresses this file to remove comments.
You can also have it remove most whitespace or omit compression with this key
in the <appSettings> section of web.config:
<add key="DES_StyleSheetCompression" value="none|full" />

An easy way to determine what to change is to run the page. 
Browsers include some powerful development tools. FireFox offers FireBug.
Internet Explorer 9+, Safari, Chrome, and Opera all have similar tools.
Use them to point to an HTML element. They reveal all styles applied
and tell you which style sheet file supplied the class.
However, DES normally combines those style sheets into a single file 
called "GetFiles.axd". It helps to show the actual style sheet files.
So add this key in the <appSettings> section of web.config before
working in the developer tools.
<add key="DES_StyleSheetCompression" value="Separate" />
-------------------------------------------------------------------*/

/* Property: HelpButtonCssClass
Help button when using a textual button (HelpButtonImageUrl is unassigned.)
*/
.DES_DATHelpButton
{
   white-space:nowrap;  /* added in DES 5.0 */
   text-align:center;  /* added in DES 5.0 */
   padding-left:4px;   /* added in DES 5.0 */
}

/* Mouse pressed effect for elements using DES_DATHelpButton.
This will be merged with DES_DATHelpButton 
and override only the attributes specified */
.DES_DATHelpButtonPressed
{
   color:#00008b; /* dark blue added in DES 5.0 */
   text-decoration:none; /*  added in DES 5.0 */
}
/* Mouse over effect for elements using DES_DATHelpButton.
This will be merged with DES_DATHelpButton 
and override only the attributes specified */
.DES_DATHelpButtonMouseOver
{
   color:blue; /*  added in DES 5.0 */
   text-decoration:none; /*  added in DES 5.0 */
}

.DES_DATHelpButton a   /* added in DES 5.0 */
{
   color : black;
   text-decoration:none;
}

.DES_DATHelpButtonPressed a   /* added in DES 5.0 */
{
   color: #00008b;  /* darkblue */
   text-decoration:none;
}

.DES_DATHelpButtonMouseOver a   /* added in DES 5.0 */
{
   color : blue;
   text-decoration:none;
}

/* prevent external img styles from affecting these styles */
.DES_DATHelpButton img
{
   background-color:transparent; 
   margin-left: 0px; 
   margin-top: 0px; 
   margin-bottom:0px; 
   margin-right:0px;
   border: 0pt none; /* added in DES5.0 */
}
/* When the mouse is pressed, this will be merged with DES_DATHelpButton img
and override only the attributes specified */
.DES_DATHelpButtonPressed img
{
}

/* When the mouse is over, this will be merged with DES_DATHelpButton img
and override only the attributes specified */
.DES_DATHelpButtonMouseOver img
{
}

/* Used in Date and Time TextBoxes AutoHintCommandPattern property
to enclose the entire pattern. */
.DES_DATHintCommandContainer
{
   white-space:nowrap;
}
/* Used in Date and Time TextBoxes AutoHintCommandPattern property
to make the keystroke shown in the hint stand out. */
.DES_DATHintKey  /* added in DES 5.0 */
{
   border: thin outset #C0C0C0;
   padding: 0px 2px 0px 2px;
   background-color: #EEEEEE;
   color: black;
   font-size: smaller;
}

/* Used in Date and Time TextBoxes AutoHintCommandPattern property
to make the command name shown in the hint stand out. */
.DES_DATHintCommandName  /* added in DES 5.0 */
{
   font-weight:bold;
}

/* Used when Date or Time textboxes use ContainerMode=Table.
It is assigned to the table tag itself. */
table.DES_DATTextBoxContainer /* added in DES 5.0 */
{
   vertical-align:text-bottom;
/* if you want to create a border that groups all elements, add this.
   and the border-left in .DES_DATTextBoxButtonContainer below.
   Finally, adjust the left and right padding around the buttons.
   border: 1pt solid #E0E0E0;
*/   
}

/* Used when Date or Time textboxes use ContainerMode=Table.
It is assigned to the td tag. */
td.DES_DATTextBoxButtonContainer /* added in DES 5.0 */
{
   vertical-align:middle;
   padding-left:0px;
   padding-right:0px;
   padding-top:0px;
   padding-bottom:0px;
   margin-left:0px;
   margin-right:0px;
   margin-top:0px;
   margin-bottom:0px;
   line-height:1em;
/* if you want to create a border that groups all elements, add this:
   border-left: 1pt solid #E0E0E0;
*/   
}