/* CONVERTED FOR USE IN DES 5.0 BY WEB APPLICATION UPDATER */
/*------------------------------------------------------------------
Supports the CalculationController, FieldStateController,
MultiFieldStateController, FSCOnCommand, and MultiFSCOnCommand.

NOTE: By default, DES compresses this file to remove comments.
You can also have it remove most whitespace or omit compression with this key
in the <appSettings> section of web.config:
<add key="DES_StyleSheetCompression" value="none|full" />

An easy way to determine what to change is to run the page. 
Browsers include some powerful development tools. FireFox offers FireBug.
Internet Explorer 9+, Safari, Chrome, and Opera all have similar tools.
Use them to point to an HTML element. They reveal all styles applied
and tell you which style sheet file supplied the class.
However, DES normally combines those style sheets into a single file 
called "GetFiles.axd". It helps to show the actual style sheet files.
So add this key in the <appSettings> section of web.config before
working in the developer tools.
<add key="DES_StyleSheetCompression" value="Separate" />
-------------------------------------------------------------------*/

/* Property: CalculationController.InvalidLabelCssClass 
When the label showing the calculated total reflects an error in the calculation. */
.DES_CalcInvalid
{
   color:Red;
}


/* assigned to the spinners on textboxes */
.DES_SpinnerTable  /* added in DES 5.0 */
{
   line-height:5px;
   padding : 0px 0px 0px 0px;
   vertical-align:middle;  
}
.DES_SpinnerTable TD  /* added in DES 5.0 */
{
   line-height:5px;
   padding : 0px 0px 0px 0px;
}

/* Apply to Labels and other static HTML tags that you want to appear disabled */
/* A good usage: FieldStateController.ConditionFalse.CssClass, when you want it to disable a label. */
.DES_DisabledLabel, .DES_DisableLabel A, .DES_DisableLabel A:hover, .DES_DisableLabel A:visited, 
.DES_DisableLabel TD
{
   color: #C0C0C0 !important;   /* light gray */
}

/* --- HtmlList Control ---*/
/* Suggested property: CssClass
This is applied to a ul or ol tag and should dictate the styles for such a tag.
*/
.DES_HtmlList
{
    list-style-type:none;
    list-style-image: none;
    list-style-position:outside;
    margin: 0;
    padding-left: 0;
}


/* Suggested property: ItemCssClass */
/* applied to the li Tag */
.DES_HtmlListItem
{
   margin: 0;
   padding: 3px 0px 3px 0px;
   cursor: pointer;  /* W3C approved hand. */
   cursor: hand;   /* IE specific hand */
}


/* Suggested property: SelectedItemCssClass */
/* Applied to the label when the item is selected */
.DES_HtmlListSelectedItem
{
   margin: 0;
   padding: 3px 0px 3px 0px;
   cursor: default;
}

/* Suggested property: TextCssClass */
/* applied to the span Tag around the text*/
.DES_HtmlListText
{
   text-decoration: none;
   color: blue;
}

.DES_HtmlListText:hover
{
   text-decoration: underline;
   color: blue;
}

.DES_HtmlListText:visited
{
   color: blue;
}

/* Suggested property: SelectedTextCssClass */
/* Applied to the text when the item is selected */
.DES_HtmlListSelectedText
{
   text-decoration: none;
   color: inherit;
}

/* DES LinkButton's WhenDisabledCssClass property */
/* Provides the look of a disabled link, especially important to non-IE browsers
which cannot disable the a tag another way */
.DES_DisabledLink
{
   color:Gray;
   text-decoration:none;
}