@{
    ViewBag.Title = "1099 K Listing";
    
}
<div class="alert-danger">@TempData["errorMessage"]</div>
<div class="alert-success">@TempData["successMessage"]</div>


<script>
   
</script>

@Html.Partial("_IRSListing")
