body {
	font: 10pt 'Segoe UI', Arial, sans-serif;
	margin:0px;
	background-color:white;
}

* {
	margin:0;
	padding:0;
}

a
{
	color:#3333CC;
}

a:hover
{
	color:#666699;
	text-decoration:none;
}


.clear 
{
	clear:both;
}

.top_header_main
{
	background-image:url('../images/login_header_bgv2.jpg'); 
	height:10px;
	min-width:900px;
}

/*.top_header
{
	background-image:url('../images/login_headerv3.jpg'); 
    background-repeat:no-repeat;
	height:175px;
	min-width:900px;
}*/

.top_header /*- changed out again on 4/22/2014*/
{
	background-image:url('../images/login_header_bgv2.jpg'); 
	height:85px;
	min-width:900px;
}

/*.top_header .logo  *** old logo 3/14/2014
{
	background-image:url('../images/login_header_left.jpg');
	background-repeat:no-repeat;
	cursor:pointer;
	height:85px;
	position:absolute;
	width:226px;
}*/

/*.top_header .logo  
{
	background-image:url('../images/Bill2Pay-Logo-1c-WHITE.png');
	background-repeat:no-repeat;
	margin-left:10px;
	margin-top:10px;
	cursor:pointer;
	height:85px;
	position:absolute;
	width:226px;
}*/

.top_header .logo  
{
	background-image:url('../images/Bill2Pay-Logo2.png');
	background-repeat:no-repeat;
	margin-left:10px;
	margin-top:10px;
	cursor:pointer;
	height:85px;
	position:absolute;
	width:300px;
}

/*.top_header .right  
{
	background-image:url('../images/login_header_right.jpg');
	background-repeat:no-repeat;
	float:right;
	height:85px;
	position:relative;
	text-align:right;
	width:180px;
}*/

.top_header .right  
{
	background-image:url('../images/login_header_rightv2.png');
	background-repeat:no-repeat;
	float:right;
	height:85px;
	position:relative;
	text-align:right;
	width:200px;
}

.top_header .right .links
{
	color:White;
	padding-right:5px;
	padding-top:40px;
}

.top_header .right .links a
{
	color:White;
}


.top_header_shadow
{
	background-image:url('../images/header_shadow.jpg'); 
	min-width:900px;
	height:5px;
}

/*.top_header .title 
{
	border-left:1px solid #A3ADB7;
	height:55px;
	left:250px;
	margin-top:5px;
	padding:10px;
	position:absolute;
	width:240px;
	color:White;
	font-size:14pt;
}*/

.top_header .title 
{
	height:55px;
	/*left:250px;*/
    right:250px;
	margin-top:5px;
	padding:10px;
	position:absolute;
	width:150px;
	color:#1200a2;
	font-size:14pt;
    text-align:right;
}

.top_header .title .sub
{
	font-size:10pt;
	font-style:italic;
	color:#CFD6DD;
}

.footer_shadow
{
	background-image:url('../images/footer_shadow.jpg'); 
	min-width:900px;
	height:5px;
	background-repeat:repeat-x;
}

.footer_shadow p.text 
{
	float:left; 
	padding-top:5px;
	padding-left:5px;
	font-size:8pt;
	color:#666666;
}

.stylesheet
{
	float:right;
	padding-right:5px;
}

.main_content
{
	margin-left:10px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	
	background-color:White; 
	border-width:2px; 
	border-color:Black; 
	border-style:solid; 
	padding:20px;
}

.logout
{
	clear:both;
	float:right;
	margin-right:10px;
	font-size:9pt;
	padding-top:5px;
}

.DropDownExtender
{
	background-color:#D9E6F2;
	border: solid 1px #003366;
	padding:5px;
	font-size:9pt;
}



input[type="text"]
{
	font-family:'Segoe UI', Arial, sans-serif;
	min-height:15px;
}



.buttons
{
	cursor:pointer;
    padding:4px;
}

.timeout

{
   border: thin double Black;
   color: #FFFFFF;
   font-size: medium;
   font-weight: bold;
   margin: 10px;
   background-color: #6699FF;
   position: absolute;
   top: 50px;
   left: 300px;
   z-index: 1000;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

.flyOutDiv
{
     display: none;
     position: absolute;
     width: 400px;
     z-index: 3;
     opacity: 0;
     filter:(progid:DXImageTransform.Microsoft.Alpha(opacity=0));
     font-size: 13px;
     border: solid 1px #CCCCCC;
     background-color: #FFFFFF;
     padding: 5px;
}


.flyOutDivCloseX
{
	 background-color: #cccccc;
	 color: #FFFFFF;
	 text-align: center;
	 font-weight: bold;
	 text-decoration: none;
	 padding: 5px; 
}

.ErrorSummary
{
	color:Red;
	font-size:13px;
	border-style:none;
	border-width:0px;
	padding-bottom:10px;
}

.ErrorSummary ul
{
	padding-left:40px;
}

.ErrorSummary li
{
	padding-left:0px;
}

.padding
{
	margin-left:20px;
	padding:10px;
}

fieldset
    {
      border: solid 1px #ccc;
      margin: 8px;
    }
    
legend
{
    background: white;
    padding: 0 4px;
}

#progressBackgroundFilter {
    position:fixed; 
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:#000; 
    filter:alpha(opacity=50); 
    opacity:0.5; 
    z-index:1000; 
}
#processMessage { 
    position:fixed; 
    top:30%; 
    left:43%;
    padding:10px; 
    width:14%; 
    z-index:1001; 
    background-color:#fff;
    border:solid 1px #000;
}

th
{
	font-weight:normal;
	text-align:left;
}
.ConfTable
{
    width:400px;
}
.grid td, .grid th{
  text-align:center;
  padding:2px;
  margin-left:0px;
}

.gridFooter table {
     float:right;
     margin-right:70px;
}