body {
	font: 80% 'Segoe UI', Arial, sans-serif;
	color:#444444;
	margin:0mm;
	background-color:white;
}

tr
{
	font: 80% 'Segoe UI', Arial, sans-serif;
}
td
{
	font: 80% 'Segoe UI', Arial, sans-serif;
	
}
	
#pageheader
{
	font: 125%;
	margin-left:0mm;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:solid 1px gray;
	width:200px;
}



.ConfTable
{
    width:200px;
}