
@{
    ViewBag.Title = "IRS Fire File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is a temp page. Design and more informaiton need to include here...</h1>

<h3>IRS test file Generation was successful. Click <a href="/IRSProcess/Download?file=@ViewBag.fileName">here</a> to download the file</h3>


