
@{
    ViewBag.Title = "IRS Fire File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>File Generation was successful</h2>
<h1>This is a temp page. More informaiton need to include here...</h1>

