
@{
    ViewBag.Title = "IRS Fire File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>IRS file generation was successful. Click <a href="/IRSProcess/Download?file=@ViewBag.fileName">here</a> to download the file</h3>


