
@{
    ViewBag.Title = "Import IRS Response";
}

<div class="row">
    @using (Html.BeginForm("Irs", "Import", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    { @Html.AntiForgeryToken()
        @Html.Partial("_SelectYear")

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    [Description and warning - To be provided by Bill2Pay]
                    <br />
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <input id="fileBase" type="file" class="btn btn-block btn-primary " placeholder="Select Import file" required />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary "><span class="fa fa-cloud-download" title="Import the input file"> Import</span></button>
                    </div>
                </div>
            </div>

        </div>
    }
</div>


