
@{
    ViewBag.Title = "Import Tin Matching Response";
}

<div class="row">
    @using (Html.BeginForm("Tin", "Import", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    { @Html.AntiForgeryToken()

        @Html.Partial("_SelectYear")
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <span>
                        <strong>Upload TIN matching response file here. Before uploading the file please follow the below points.</strong>
                        <ul>
                            <li>  The file extention should be .txt</li>
                            <li>  No header row required.</li>
                            <li>  Order of the fields should be like below</li>
                            <ul>
                                <li>   TIN type</li>
                                <li>   TIN </li>
                                <li>   Name </li>
                                <li>   Account number</li>
                                <li>   TIN matching response code</li>
                            </ul>
                            <li> Value of the fields should be separated by ';' (semi colon) </li>
                            <li> Select the approperate year, that data you are uploading for </li>
                        </ul>
                    </span>
                    <br />
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <span class="text-danger "> @ViewBag.Message </span>
                       
                    </div>
                </div>

            </div>
            
            <div class="row">
                <br />
                <br />
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input id="fileBase" name="fileBase" type="file" class="btn btn-block btn-primary " placeholder="Select Import file" required />
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary "><span class="fa fa-cloud-download" title="Import the input file"> Import</span></button>
                        </div>
                    </div>
                </div>

            </div>
    }
    
</div>


