
@{
    ViewBag.Title = "Import Tin Matching Response";
}

<div class="row">
    @using (Html.BeginForm("Tin", "Import", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    { @Html.AntiForgeryToken()

        @Html.Partial("_SelectYear",false)

        
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <span>
                        <strong>Upload TIN matching response file here.</strong>
                        <ul>
                            <li>  The file extension should be .txt</li>
                            <li>  Do not include header row.</li>
                            <li>  Each line of the file should have single record and should be separated by carriage return. </li>
                            <li>  Order of the fields should be like below</li>
                            <ul>
                                <li>   TIN type</li>
                                <li>   TIN </li>
                                <li>   Name </li>
                                <li>   Account number</li>
                                <li>   TIN matching response code</li>
                            </ul>
                            <li> Value of the fields should be separated by ';' (semi colon) </li>

                        </ul>
                    </span>
                    <br />
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <span class="text-danger "> @ViewBag.Message </span>
                       
                    </div>
                </div>

            </div>
            
            <div class="row">
                <br />
                <br />
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span> <input id="fileBase" name="fileBase" type="file" class="btn btn-block btn-primary " style="font-family:Arial" placeholder="Select Import file" required /> </span>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary " style="font-family:Arial" ><i class="fa fa-cloud-download"  title="Import the input file"></i> Import</button>
                        </div>
                    </div>
                </div>

            </div>
    }
    
</div>


