/*---------------------------------------------------------------------
Default styles for various BLD controls.

NOTE: By default, DES compresses this file to remove comments.
You can also have it remove most whitespace or omit compression with this key
in the <appSettings> section of web.config:
<add key="DES_StyleSheetCompression" value="none|full" />

An easy way to determine what to change is to run the page. 
Browsers include some powerful development tools. FireFox offers FireBug.
Internet Explorer 9+, Safari, Chrome, and Opera all have similar tools.
Use them to point to an HTML element. They reveal all styles applied
and tell you which style sheet file supplied the class.
However, DES normally combines those style sheets into a single file 
called "GetFiles.axd". It helps to show the actual style sheet files.
So add this key in the <appSettings> section of web.config before
working in the developer tools.
<add key="DES_StyleSheetCompression" value="Separate" />
---------------------------------------------------------------------*/

/* --- BLDWidgetsView --- */
/* Suggested property: ContainerTagStyle-CssClass */
.BLDWidgetsView_ContainerTag
{
   border: thin inset #CCCCCC;
   padding: 3px 6px 3px 6px;
   background-color: #dbddff; /* a light blue */
	font-family: Tahoma, Arial, Sans-Serif;
	font-size:small;
}

/* --- all Widgets --- */
/* Suggested property: ContainerTagStyle-CssClass */
.Widget_ContainerTag
{
   display: inline;
	font-size:small;
	white-space:nowrap;
}

/* --- ControlPanel.NextPreviousPagerWidget page numbers --- */
/* Suggested properties: ButtonCssClass */
.NextPreviousPagerWidget_Buttons
{
}

.NextPreviousPagerWidget_Buttons IMG
{
   border: 0px;
}
.NextPreviousPagerWidget_Buttons:link
{
   text-decoration:none;
   color:Blue;
}

.NextPreviousPagerWidget_Buttons:visited
{
   text-decoration:none;
   color:Blue;
}

.NextPreviousPagerWidget_Buttons:hover
{
   text-decoration:none;
   color:Navy;
}



/* --- ControlPanel.NextPreviousPagerWidget disabled buttons --- */
/* Suggested properties: WhenDisabledCssClass */
.NextPreviousPagerWidget_WhenDisabled
{
   color:Gray;
}

.NextPreviousPagerWidget_WhenDisabled IMG
{
   border: 0px;
}

/* --- ControlPanel.InfoPagerWidget {PAGEINDEX} token --- */
/* Suggested properties: PageIndexCssClass */
.InfoPagerWidget_PageIndex
{
   max-width:30px;
}

/* --- ControlPanel.LinkPageSizePagerField page size buttons --- */
/* Suggested properties: LinkCssClass */
.LinksPageSizesWidget_Link
{
}

.LinksPageSizesWidget_Link:link
{
   text-decoration:none;
   color:Blue;
}

.LinkPageSizePagerField_Link:visited
{
   text-decoration:none;
   color:Blue;
}

.LinksPageSizesWidget_Link:hover 
{
   text-decoration:none;
   color:Navy;
}

/* --- ControlPanel.LinksPageSizesWidget current page size--- */
/* Suggested properties: LabelCssClass */
.LinksPageSizesWidget_Current
{
   color:Gray;
}



/* --- ControlPanel.NumericPagerWidget page numbers --- */
/* Suggested properties: NumericButtonCssClass, ExtNumericButtonCssClass */
.NumericPagerWidget_PageNumbers
{
}

.NumericPagerWidget_PageNumbers:link
{
   text-decoration:none;
   color:Blue;
}

.NumericPagerWidget_PageNumbers:visited
{
   text-decoration:none;
   color:Blue;
}

.NumericPagerWidget_PageNumbers:hover
{
   text-decoration:none;
   color:Navy;
}

/* Alternative to the above enclosing the numbers in a box */
.NumericPagerWidget_PageNumbersInBox
{
}

.NumericPagerWidget_PageNumbersInBox:link
{
   border: 2px solid #808080;
   padding: 3px 6px 3px 6px;
   text-decoration: none;
   color: Blue;
   min-width:24px;
}

.NumericPagerWidget_PageNumbersInBox:visited
{
   border: 2px solid #808080;
   padding: 3px 6px 3px 6px;
   text-decoration:none;
   color:Blue;
   min-width:24px;
}

.NumericPagerWidget_PageNumbersInBox:hover
{
   border: 2px solid #666666;
   padding: 3px 6px 3px 6px;
   text-decoration: none;
   color: Navy;
   min-width: 24px;
   background-color: #E2E2E2;
}


/* --- ControlPanel.NumericPagerWidget current page number --- */
/* Suggested properties: CurrentPageLabelCssClass */
.NumericPagerWidget_CurrentPageNumber
{
   color:Gray;
   font-weight:bold;
}


/* --- ControlPanel.LinkSorterField for hyperlinks --- */
/* Suggested properties: LinkCssClass */
.LinksSorterWidget_Link
{
   text-decoration:none;
}

/* --- ControlPanel.LinkSorterField for current value label --- */
/* Suggested properties: CurrentSortKeyCssClass */
.LinksSorterWidget_Current
{
}

/* --- ControlPanel.BaseCommandButtonField for the button itself --- */
/* Suggested properties: ButtonCssClass */
.CommandButtonWidget_Button, .CommandButtonWidget_Button a
{
   text-decoration:none;
}

.CommandButtonWidget_Button IMG
{
   border: 0px;
}

/* --- BLDFilterSummary --- */
/* Suggested property: BLDFilterSummary.CssClass */
.FilterSummaryContainer
{
	font-family: Tahoma, Arial, Sans-Serif;
	font-size:small;
}

/* --- All FilterSummaryFormatters that use HyperLinks --- */
/* Suggested property: HyperlinkCssClass */
.FilterSummaryFormatterHyperLink
{
	font-family: Tahoma, Arial, Sans-Serif;
	font-size:small;
}

.FilterSummaryFormatterHyperLink:link, visited
{
   color: blue;
}

.FilterSummaryFormatterHyperLink:hover
{
   color: Navy;
}

.FilterSummaryFormatterHyperLink IMG
{
   border :0;
}


/* Suggested property: LabelCssClass */
.FilterSummaryFormatterLabel
{
	font-family: Tahoma, Arial, Sans-Serif;
	font-size:small;
}

.FilterSummaryFormatterLabel IMG
{
   border :0;
}

/* Suggested property: FilterSeparator */
.FilterSummaryFormatterSeparator
{
	font-family: Arial, Sans-Serif;
	font-size:small;
   font-weight:bold;
   color : Gray;
}
.FilterSummaryFormatterSeparator IMG
{
   border :0;
}

/* Suggested property: ClearOneButton-CssClass */
.FilterSummaryFormatterClearOneButton
{
	font-family: Tahoma, Arial, Sans-Serif;
	font-size:small;
   vertical-align:super;
}

.FilterSummaryFormatterClearOneButtonPressed
{
	color: Navy;
}

.FilterSummaryFormatterClearOneButtonMouseOver
{
	color: Blue;
}


.FilterSummaryFormatterClearOneButton IMG
{
   vertical-align:super;
}

/* --- ListOfLinksFilterSummaryFormatter for BLDFilterSummary ---*/
/* Suggested property: OuterCssClass 
This is applied to a ul tag and should dictate the styles for such a tag.
*/
.FilterSummaryFormatterOuterLink
{
    list-style-type:none;
    list-style-image: none;
    list-style-position:outside;
    margin: 0;
    padding-left: 0;
}

/* Suggested property: InnerCssClass 
This is applied to a li tag and should dictate the styles for such a tag.
*/
.FilterSummaryFormatterInnerLink
{
   margin: 0;
   padding: 0;
}
