/*---------------------------------------------------------------------
Style sheet classes used by the BLD Field Templates. 

This file is auto-loaded when the FieldTemplate 
sets the AutoLoadFieldTemplateStyleSheetFile property to true.

NOTE: By default, DES compresses this file to remove comments.
You can also have it remove most whitespace or omit compression with this key
in the <appSettings> section of web.config:
<add key="DES_StyleSheetCompression" value="none|full" />

An easy way to determine what to change is to run the page. 
Browsers include some powerful development tools. FireFox offers FireBug.
Internet Explorer 9+, Safari, Chrome, and Opera all have similar tools.
Use them to point to an HTML element. They reveal all styles applied
and tell you which style sheet file supplied the class.
However, DES normally combines those style sheets into a single file 
called "GetFiles.axd". It helps to show the actual style sheet files.
So add this key in the <appSettings> section of web.config before
working in the developer tools.
<add key="DES_StyleSheetCompression" value="Separate" />
-----------------------------------------------------------------------*/

/* --- Field Templates subclassed from EmailAddressStaticFieldTemplate --- */
.BLDFT_EmailAddressContainer
{
   padding-right:6px;   /* standard padding-right from Site.css*/
}

/* For <a> tags within the BLDFT_EmailAddressContainer. */
.BLDFT_EmailAddressContainer A,
.BLDFT_EmailAddressContainer A:visited,
.BLDFT_EmailAddressContainer A:hover,
.BLDFT_EmailAddressContainer A:link,
.BLDFT_EmailAddressContainer SPAN  /* Used when ShowAsHyperlink = false */
{
   white-space:nowrap;
   padding-right:0px !important;   /* overrides padding set in Site.css that*/
}

/* --- Field Templates subclassed from ForeignKeyStaticFieldTemplate --- */
.BLDFT_ForeignKeyContainer
{
}

/* For <a> tags within the BLDFT_ForeignKeyContainer. */
.BLDFT_ForeignKeyContainer A,
.BLDFT_ForeignKeyContainer A:visited,
.BLDFT_ForeignKeyContainer A:link
{
   text-decoration: none;
   color: #666666;
}
.BLDFT_ForeignKeyContainer A:hover
{
   text-decoration: none;
   color: #000080;
}

/* --- Field Templates subclassed from ChildrenStaticFieldTemplate --- */

.BLDFT_ChildrenLink,
.BLDFT_ChildrenLink:visited,
.BLDFT_ChildrenLink:link
{
   text-decoration: none;
}
.BLDFT_ChildrenLink:hover
{
   text-decoration: underline;
   color: #000080;
}


/* --- The RestrictedFieldTemplate file in Contents folder --- */
/* Establish a background color for the entire container cell */
.BLDFT_RestrictedFieldContainer
{
   background-color: #E6E6E6;
}

/* establish the appearance of the text */
.BLDFT_RestrictedFieldLabel
{
  font-style: italic;
}

/* generic table */
.BLDFT_GenericTable
{
   background:none;
   background-color:transparent;
}
.BLDFT_GenericTable tr
{
   background:none;
   border-left: none;
   border-right: none;
   border-top: none;
   border-bottom:none;
}
.BLDFT_GenericTable td
{
   padding : 0px 0px 0px 0px;
   border-left: none;
   border-right: none;
   border-top: none;
   border-bottom:none;
	line-height:1em;
}

/* --- AJAX Control ToolKit: ModalDialogExtender Alternative names --- */
/* Used by DbImageWithPopup.ascx */
/* assign to the ModalDialogExtender.BackgroundCssClass property */
.BLDFT_ModalBackground 
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

/*Assign to a Panel that will be shown by the ModalDialogExtender*/
.BLDFT_PopupControl
{
	background-color:White;
	position:absolute;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	min-width:10%;
	min-height:10%;
/* by using a table, the image dictates the height and width	
	Height: 30%;
	Width: 30%;  
*/
   max-width:90%;
   max-height:90%;
	vertical-align:middle;
   padding : 0px 0px 0px 0px;
}

.BLDFT_PopupControl td
{
   padding : 0px 0px 0px 0px;
   border-left: none;
   border-right: none;
   border-top: none;
   border-bottom:none;
	min-width: 0%;
	min-height:0%;  
   max-width:100%;
   max-height:100%;
}

.BLDFT_TitleBar
{
   background-color:#dcdcdc;
   height:20px;
   border-left: none;
   border-right: none;
   border-top: none;
   border-bottom: solid 1px gray;
   width:100%;
	vertical-align:middle;
   padding : 0px 0px 0px 0px;
   cursor:move;
	min-width: 0%;
	min-height:0%;  
   max-width:100%;
   max-height:100%;
	line-height:10px;
}
.BLDFT_TitleBar
{
   background:none;
   background-color:#dcdcdc;
}
.BLDFT_TitleBar SPAN
{
   cursor:move;
}

.BLDFT_TitleBar IMG
{
   padding : 0px 0px 0px 0px;
   border: none;
   cursor:auto;
   float:right;
   max-height:15px;
   vertical-align:top;
}

.BLDFT_TitleBar TD
{
   padding-left:3px;
   padding-right:3px;
   padding-top:1px;
   padding-bottom:1px;
	min-width: 0%;
	min-height:0%;  
   max-width:100%;
   max-height:100%;
   border-left: none;
   border-right: none;
   border-top: none;
   border-bottom:none;
	line-height:10px;
}


