/*---------------------------------------------------------------------
The default style sheet classes used by the FilterPatternTemplates shipped with BLD. 

They are connected in two ways:
1. Each PatternTemplate file has a block of constants with these names.
   You can modify these names, although it will effect all Pages using the same PatternTemplate.
2. You can use the NamedStyles property on the DynamicPattern control to assign
   a different value to CssClass.

NOTE: By default, DES compresses this file to remove comments.
You can also have it remove most whitespace or omit compression with this key
in the <appSettings> section of web.config:
<add key="DES_StyleSheetCompression" value="none|full" />

An easy way to determine what to change is to run the page. 
Browsers include some powerful development tools. FireFox offers FireBug.
Internet Explorer 9+, Safari, Chrome, and Opera all have similar tools.
Use them to point to an HTML element. They reveal all styles applied
and tell you which style sheet file supplied the class.
However, DES normally combines those style sheets into a single file 
called "GetFiles.axd". It helps to show the actual style sheet files.
So add this key in the <appSettings> section of web.config before
working in the developer tools.
<add key="DES_StyleSheetCompression" value="Separate" />
-----------------------------------------------------------------------*/


/* --- FilterPatternTemplates\Filter Rows Format.ascx, Filters Stacked Format.ascx,
       and Filters Table Format.ascx.ascx ------ */

/* Style for the enclosure around the entire control */
.FilterViewContainer
{
	color: #666;
	background-color: #FCFDFE;
	border: 1px solid #dbddff;
	border-collapse:collapse;
	line-height:1.1em;
   font-family: Tahoma, Arial, Sans-Serif;
	font-size: smaller; 
}

/*  Style for the TR tag around each visual row, showing one data field. */
.FilterRow
{
	border: 1px solid #dbddff;
	border-bottom-style: dotted;
/*	font-family:Tahoma, Arial, Sans-Serif;   */
}

/*  Style for the column header TH tag */
.FilterHeaderRow
{
   border: 1px solid #dbddff;
   font-weight: bold;
	white-space: nowrap;
   background-position: 1px 1px;
   background-repeat: repeat-x;
   background-color: #ffffff;
/* NOTE: DES internally converts the ~/ part to the actual web app root folder but only when using its GetFiles.aspx system. */
   background-image:url('~/BLD Templates/Content/Images/header_back.gif');
}

.FilterHeaderRow a:visited,
.FilterHeaderRow a:hover,
.FilterHeaderRow a:link
{
   color: #666666;
   text-decoration:none;
}

/*  Style for the column footer TR tag */
.FilterFooterRow
{
	padding: 6px 10px;
   border-top: 1px solid #dbddff;
   font-family: Tahoma, Arial, Sans-Serif;
	white-space: nowrap;
}

/* Style for the container around buttons */
.FilterButtonsContainer
{
   border-top: 1px solid #dbddff;
	border-right:dotted 1px #dbddff;
   font-family: Tahoma, Arial, Sans-Serif;
	white-space: nowrap;
}

.FilterButtonsContainer a
{
	text-decoration:none;
}


/* Style for the first column (TD tag), containing the label.*/
/* While setting the width here makes sense, if this style will be used on several pages,
   the width may differ in each case. 
   As an alternative, you can define NamedStyles in the DynamicPattern control
   that specify the width. */
.FilterLabelContainer
{
   font-weight:bold;
	padding: 6px 10px;
/*	border-right:dotted 1px #dbddff; */
	border-top:solid 1px #dbddff;
}

/* Style for the second column (TD tag), containing the BLDFilterField. */
/* While setting the width here makes sense, if this style will be used on several pages,
   the width may differ in each case. 
   As an alternative, you can define NamedStyles in the DynamicPattern control
   that specify the width. */
.FilterContainer
{
	padding: 6px 10px;
   border-top: 1px solid #dbddff;
	border-right:dotted 1px #dbddff;
}

/* Style for any BLDLabel control */
.FilterLabelControl
{
}

/* Style for the first column (TD tag), containing the label.*/
/* While setting the width here makes sense, if this style will be used on several pages,
   the width may differ in each case. 
   As an alternative, you can define NamedStyles in the DynamicPattern control
   that specify the width. */
.FilterHeaderLabelContainer
{
   font-weight:bold;
	padding: 6px 10px;
	border-right:dotted 1px #dbddff;
}

/* Style for the second column (TD tag), containing the BLDFilterField. */
/* While setting the width here makes sense, if this style will be used on several pages,
   the width may differ in each case. 
   As an alternative, you can define NamedStyles in the DynamicPattern control
   that specify the width. */
.FilterHeaderFilterContainer
{
	padding: 6px 10px;
}
/* Style for the first column (TD tag), containing the label.*/
/* While setting the width here makes sense, if this style will be used on several pages,
   the width may differ in each case. 
   As an alternative, you can define NamedStyles in the DynamicPattern control
   that specify the width. */
.FilterFooterLabelContainer
{
	padding: 6px 10px;
	border-right:dotted 1px #dbddff;
	border-top:solid 1px #dbddff;
}

/* Style for the second column (TD tag), under the BLDFilterFields. */
/* While setting the width here makes sense, if this style will be used on several pages,
   the width may differ in each case. 
   As an alternative, you can define NamedStyles in the DynamicPattern control
   that specify the width. */
.FilterFooterFilterContainer
{
	padding: 6px 10px;
}


/* Style for the TR tag on rows containing the "Buttons" NamedItemTemplate.
   If not defined, it uses "Row". */
.FilterButtonRow
{
	border: 1px solid #dbddff;
	border-bottom-style: dotted;
/*	font-family:Tahoma, Arial, Sans-Serif;   */
}

.FilterButtonRow a
{
	color:#718ABE;
	text-decoration: none;
	padding-right: 6px;
}

/* Style for the first column (TD tag) defined in "Buttons" NamedItemTemplate.
   If not defined, it uses "LabelContainer". */
.FilterButtonLabelContainer
{
	padding: 6px 10px;
}

/* Style for the second column (TD tag) defined in "Buttons" NamedItemTemplate.
   If not defined, it uses "DataContainer". */
.FilterButtonFilterContainer
{
	padding: 6px 10px;
}

/*  Style for the content displayed when there is no data to show */
.FilterNoDataToShow
{
	font-family: Tahoma, Arial, Sans-Serif;
}

/*----- For Filters Flow Format.ascx ---- */

/* Style for the enclosure around the entire control */
.FlowFilterViewContainer
{
	color: #666;
	background-color: #FCFDFE;
	border: 1px solid #dbddff;
	border-collapse:collapse;
	line-height:1.5em;
   font-family: Tahoma, Arial, Sans-Serif;
	font-size: smaller; 
	padding : 5px 5px 5px 5px;
}

/* Style for the container around buttons in a flow style - omits the border */
.FlowFilterButtonsContainer
{
   font-family: Tahoma, Arial, Sans-Serif;
	white-space: nowrap;
}
.FlowFilterButtonsContainer
{
   text-decoration: none;
}

/* Style for any BLDLabel control */
.FlowFilterLabelControl
{
}

/* Style for around a BLDFilterField control. */
.FlowFilterContainer
{
}

.FlowFilterContainer INPUT
{
   font-size:8pt;
}

/*----- For Filters Menu Format.ascx ---- */

/* Style for the enclosure around the entire control which uses a <ul> tag */
UL.MenuFilterViewContainer
{
	color: #666;
	background-color: #FCFDFE;
	border: 1px solid #dbddff;
	border-collapse:collapse;
	line-height:1.1em;
   font-family: Tahoma, Arial, Sans-Serif;
	font-size: smaller; 
   list-style-type:none;
   list-style-image: none;
   list-style-position:outside;
   margin: 0;
   padding-left: 0;
}

LI.MenuFilterRow
{
	border: 1px solid #dbddff;
	border-bottom-style: dotted;
/*	font-family:Tahoma, Arial, Sans-Serif;   */
   margin: 0;
   padding: 4px;
}


/* Style for the container around buttons in a flow style - omits the border */
.MenuFilterButtonsContainer
{
   font-family: Tahoma, Arial, Sans-Serif;
	white-space: nowrap;
}

.MenuFilterButtonsContainer
{
   text-decoration:none;
}

/* Style of span around BLDFilterFields */
.MenuFilterControlContainer
{
}

/* Style for any BLDLabel control */
.MenuFilterLabelControl
{
   line-height:1.5em;
}

/*  Style for the content displayed when there is no data to show */
.MenuFilterNoDataToShow
{
	font-family: Tahoma, Arial, Sans-Serif;
}
/* --- FilterPatternTemplates\One Filter TableRow.ascx ------------------------------- */

/* Style for the first column (TD tag), containing the label.*/
/* While setting the width here makes sense, if this style will be used on several situations,
   the width may differ in each case. 
   As an alternative, you can define NamedStyles in the DynamicPattern control
   that specify the width. */
.OneFilter_LabelContainer
{
   font-weight:bold;
	padding: 6px 10px;
	border-right:dotted 1px #dbddff;
}

/* Style for the second column (TD tag), containing the Filter. */
/* While setting the width here makes sense, if this style will be used on several situations,
   the width may differ in each case. 
   As an alternative, you can define NamedStyles in the DynamicPattern control
   that specify the width. */
.OneFilter_FilterContainer
{
	padding: 6px 10px;
}

/* Style for any BLDLabel control */
.OneFilter_LabelControl
{
}

/*  Style for the TR tag */
.OneFilter_Row
{
	border: 1px solid #dbddff;
	border-bottom-style: dotted;
	font-size: small; 
	font-family:Tahoma, Arial, Sans-Serif;  
}